body {
    background-color: inherit;
    background: none;
    color: black;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.article-container {
    max-width: 940px;
    min-height: 100vh;
    width: auto;
    padding: 0 20px;
    margin-bottom: 50px;
}

.article-container img {
    width: 100%;
    height: auto;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#author {
    display: flex;
    align-items: center;
}

#author img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

#author span {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

#created-at {
    font-size: 15px;
    color: rgb(160, 160, 160);
}

#title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.article-container,
.comment-area,
.comments-container,
.ql-video {
    width: 100%;
    padding: 20px;
    max-width: 940px;
}

.ql-video {
    padding: 0;
}

#article-content p {
    line-height: 1.5;
    font-size: 18px;
    color: #202020;
}

#article-content p a {
    color: rgb(80, 80, 230);
}

#article-content p a:link,
#article-content p a:visited {
    color: rgb(80, 80, 230);
}

#article-content p a:hover {
    text-decoration: none;
}

#article-content p a:active {
    border: 1px dashed rgb(80, 80, 230);
}

.leave-comment-title {
    margin: 40px 0 20px 0;
    font-size: 20px;
    font-weight: 500;
}

hr {
    width: 100%;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: none;
}

.comment-area {
    display: flex;
}

.comment-area > div {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    flex: 1;
}

.comment-area img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    clip-path: circle();
}

.comment-area textarea {
    outline: none;
    height: 150px;
    resize: none;
    margin-bottom: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 100%;
    padding: 8px 12px;
    border: 1px solid lightgray;
    border-radius: 4px;
    transition: border-color 200ms ease-out;
}

.comment-area textarea:hover,
.comment-area textarea:focus {
    border-color: rgb(150, 150, 150);
}

.comment-area .button {
    border: 1px solid rgb(80, 80, 230);
    color: rgb(80, 80, 230);
    border-radius: 4px;
    padding: 10px;
    width: fit-content;
    transition: all 300ms ease-out;
    margin-left: auto;
}

.comment-area .button:hover {
    cursor: pointer;
    background-color: rgb(80, 80, 230);
    color: rgb(230, 230, 230);
}

.comments-container {
    margin-bottom: 50px; 
}

.comment {
    display: flex;
    margin-bottom: 20px;
}

.comment img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    clip-path: circle();
    cursor: pointer;
}

.comment > div {
    padding: 10px;
    margin-left: 15px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    flex: 1;
}

.comment p {
    font-size: 0.95rem;
    font-weight: 600;
}

.comment .content {
    margin: 15px 5px;
}

#comments-number {
    font-size: 18px;
    font-weight: 500;
    color: #202020;
    margin: 20px 0;
}