body {
    background-color: inherit;
    background: url(../assets/images/background-3.png) no-repeat center center;
    background-size: cover;
    color: black;
}

.header {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.main-content {
    margin-top: 90px;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0;
    color: black;
    text-shadow: none;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calc-container {
    padding: 20px;
    flex-basis: 500px;
    flex-grow: 1;
    margin: 30px;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
}

.calc {
    display: flex;
    flex-direction: column;
}

.calc-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 500;
}

.calc-input {
    outline: none;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    transition: border-color 200ms ease-out;
}

.calc-input:hover,
.calc-input:focus {
    border-color: rgb(150, 150, 150);
}

.calc-btn {
    margin-top: 20px;
    background-color: rgb(80, 80, 230);
}

input[type="radio"],
.calc-container label {
    cursor: pointer;
}

.result p {
    margin-top: 10px;
    line-height: 1.5;
}

.cal-result,
.ipf-result,
.bmi-result,
.fat-result {
    padding: 7px 0;
    font-size: 1.1em;
}


#bmi,
#bmi-status,
#calories,
#display-glp,
#fat,
#fat-status {
    font-weight: 500;
    font-size: 1.1em;
}

fieldset {
    border: none;
    padding: 10px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.bmi-err,
.cal-err,
.ipf-err,
.fat-err {
    color: tomato;
    font-weight: 500;
    font-size: 1.1em;
}