.main-content {
    display: flex;
    justify-content: center;
}

.cabinet-container {
    display: flex;
    flex-direction: column;
    max-width: 958px;
    padding: 20px;
}

#title-input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}

.ql-editor{
    min-height: 50vh;
}

.ql-editor iframe {
    pointer-events: none;
}

#article-form input[type="submit"] {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}