body {
    background-color: inherit;
    background: url(../assets/images/background-3.png) no-repeat center center;
    background-size: cover;
    color: black;
}

#create-article-btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 40px;
    color: rgb(80, 80, 230);
    transition: opacity 0.3s ease;
}

#create-article-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

#create-article-btn:active {
    opacity: 0.85;
}

.cabinet-container > h1 {
    margin-bottom: 20px;
}

.articles-list {
    max-height: 77vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.articles-list::-webkit-scrollbar {
    display: none;
}

.article {
    background-color: #ededed;
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    text-decoration: none;
    color: #262626;
}

.article:hover {
    cursor: pointer;
}

.article img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.article-title {
    font-size: 25px;
    font-weight: 600;
}

.article-date {
    font-size: 12px;
    color: #b3b3b3;
}