#create-test-btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 40px;
    color: rgb(80, 80, 230);
    transition: opacity 0.3s ease;
}

#create-test-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

#create-test-btn:active {
    opacity: 0.85;
}

.cabinet-container {
    position: relative;
}

.cabinet-container > h1 {
    margin-bottom: 20px;
}

.tests-list {
    max-height: 77vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.tests-list::-webkit-scrollbar {
    display: none;
}

.test-container {
    position: relative;
    flex-basis: 500px;
    border: 1px solid rgb(80, 80, 230);
    border-radius: 5px;
    margin: 20px;
    background-color: rgb(240, 240, 240);
    text-align: right;
}

.delete-item-btn {
    background: none;
    border: none;
    outline: none;
    padding: 5px;
}

.delete-item-btn i {
    cursor: pointer;
    font-size: 1.5em;
    color: rgb(139, 139, 139);
}

.test {
    text-align: left;
    background-color: white;
    padding: 20px;
    border-top: 1px solid rgb(80, 80, 230);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    text-decoration: none;
    color: #262626;
}

.test:hover {
    cursor: pointer;
}

.test :nth-child(2) :first-child {
    font-weight: 500;
}

.test-title {
    font-size: 25px;
    font-weight: 600;
}

.test img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.test-title {
    font-size: 22px;
    font-weight: 600;
}

.test-date {
    font-size: 12px;
    color: rgb(160, 160, 160);
}

.confirm-delete-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.confirm-modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    overflow: auto;
    width: 450px;
    max-width: 90%;
    padding: 20px 20px 10px;
    line-height: 1.5;
    background-color: rgb(230, 230, 230);
    color: rgb(20, 20, 20);
    border-radius: 6px;
    animation-name: modalAnimate;
    animation-duration: 0.3s;
}

.confirm-title {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
}

.confirm-options {
    margin-top: 20px;
    text-align: right;
}
.confirm-btn {
    margin: 0 10px;
    padding: 7px 12px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.confirm-btn:hover,
.confirm-btn:focus {
    opacity: 0.9;
}

.yes-btn {
    background-color: #e74c3c;
    color: white;
}

.cancel-btn {
    border: 1px solid gray;
    color: black;
}

.no-tests-message {
    text-align: center;
    line-height: 1.5;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 1.3em;
    font-weight: 300;
    color: #454545;
}

.hide-message {
    display: none;
}

@media (max-width: 1437px) {
    .tests-list {
        justify-content: center;
    }
}