body {
    background-color: inherit;
    background: url(../assets/images/background-3.png) no-repeat center center;
    background-size: cover;
    color: black;
    min-height: 100vh;
}

.main-content {
    margin: 90px auto 0 auto;
    width: 100%;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0;
    color: black;
    text-shadow: none;
}